{% extends "base.html" %}

{% block main %}

<!--<h1 style="margin-top: 200px; margin-left: 200px; font-size: 24px; color: #424242;">Select Event</h1>-->

<div class="container">
    <label for "events" style="margin-top: 200px; margin-left: 200px; font-size: 24px; color: #424242;">Select Event</label>
    <form action="/selectevent" method="POST">
        <select class="alignleft" style="margin-left: 200px; height: 35px; width: 70%; border-radius: 20px;" name="events" id="events">
            <option style="display: none;">
            <option value="kejie_alphago">Ke Jie vs AlphaGo</option>
        </select>
        <input class="alignleft" type="submit" value="Select" style="margin-left: 1%; margin-right: 5px; border-radius: 10px; height: 35px;">
    </form>
</div>

{% endblock %}