<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <!-- Vertically centered modal -->
    <div class="modal-dialog modal-dialog-scrollable" id="info_popup">
        <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel information_title">Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="information_content">
                  <div>
                      This is a project of the team of Columbia University of Professor John Kender.
                      We investigate the new task of determining which textual tags are preferred by different affinity groups for news and related videos.
                      We use this knowledge to assign new group-specific tags to other videos of the same event that have arisen elsewhere. We map visual
                      and multilingual textual features into a joint latent space using reliable visual cues, and determine tag relationships through
                      various canonical correlation analyses (CCA) variants. For human-interest international events such as epidemics and transportation
                      disasters, we detect country-specific tags from US, Chinese, European, South American, and other countries' news coverage.
                  </div>
              </div>
        </div>
    </div>
</div>